* {
	box-sizing: content-box;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

.fas {
	margin: auto;
}

.morning {

	width: 100%;
	&__sidebar {
		width: 70px;
		height: 100vh;
		background: linear-gradient(#626cf0, #6900f1);
		display: flex;
		flex-direction: column;
		border-radius: 5px solid rgba(0,0,0,1);
	}
	&__circle {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #a9baf8;
		margin: 10px auto;
	}
	&__element {
		display: flex;
		align-content: center;
		text-align: center;
		width: 50px;
		height: 50px;
		font-size: 25px;
		color: #edf1fe;
		margin: 10px auto;

		&:hover {
			width: 50px;
			height: 50px;
			background-color: #5a43e1;
			border-radius: 5px solid rgba(0,0,0,1);
		}
	}
}